h1 {
  color: rgb(8, 30, 83);
  margin-top: 200px;
  margin-left: 3rem;
  font-size: 50px;
  font-weight: bolder;
}
h4 {
  color: rgb(8, 30, 83);
  margin-top: 200px;
  margin-left: 6rem;
  font-size: 50px;
  font-weight: bolder;
}
.btn {
  margin-top: 40px;
  color: rgb(8, 30, 83);
  margin-left: 6rem;
}
.divclass {
  margin-top: 250px;

  font-family: cursive, Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
}
@media (min-width: 320px) {
  h1 {
    color: rgb(8, 30, 83);
    margin-top: 200px;
    margin-left: 5rem;
    font-size: 50px;
    font-weight: bolder;
  }
  h4 {
    color: rgb(8, 30, 83);
    margin-top: 200px;
    margin-left: 6rem;
    font-size: 50px;
    font-weight: bolder;
  }
  .btn {
    margin-top: 35px;
    color: rgb(8, 30, 83);
    margin-left: 10rem;
  }
  .divclass {
    margin-top: 155px;

    font-family: cursive, Cambria, Cochin, Georgia, Times, "Times New Roman",
      serif;
  }
}
