h1 {
  text-align: center;
}
.btn {
  text-align: center;
  margin-top: 40px;
  }
.divclass {
  margin-top: 100px;
  font-family: cursive, Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
}
