body {
  background-image: url(bgimg.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.navbar {
  background-color: #fcb8b7;
  font-family: cursive;
}
.nav-item {
  color: black;
}
