body {
  background-image: url(white-headphones-10379991.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.navbar {
  background-color: #dcb8b8;
  font-family: cursive;
}
.nav-item {
  color: black;
}
