body {
  background-image: url(man.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}
.navbar {
  background-color: #e29190;
  font-family: cursive;
}
.nav-item {
  color: black;
}